 .editContainer{
    max-width: 1400px;
    
    padding-top: 5%;
 }


 .customContainer{
    max-width: 1400px;
    padding-top: 5%;
 }

 h5.customTitle {
    
    padding-bottom: 40px;
    text-align: center;  
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #080808 !important;
    
}
 
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #080808 !important;
}
 
 nav {
   
    --bs-nav-link-hover-color: #bfbfbf!important;

}

.nav-link {
    
    color: #a1b0c5!important;
     
}

.cycleWrap {
    padding-top: 70px!important;
    padding-left: 130px!Important;
    padding-right: 130px!important;
}

button.align-self-center.btn.btn-primary {
    background-color: black;
    border-radius: 0px!important;
    border-color: black;
}

.blackBigBtn{
    margin-top: 30px;
}

.form-group.ownerFields  label.boldLabel,.form-group.dateFields  label.boldLabel{

    text-align:center!Important;
    font-weight:bold;
    padding-bottom:20px;
}
 .form-group.ownerFields  label.boldLabel{

    text-align:center!Important;
    font-weight:bold;
    padding-top:30px;
}




.form-group.ownerFields .row .col {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.form-group.dateFields .row .col {
       display: inline-grid;
    grid-template-columns: auto auto;
}
button.btn.btn-dark.plusMember {
    margin-top: 30px;
   background:  #4e934e;
   border:0px solid;
}

.customSubWrap {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.innerContentWrap {
    margin-left: auto;
    max-width: 800px;
    margin-right: auto;
    border:1px solid #212529;
    padding:40px;
}

input.btn.btn-dark.createCycle {display: inline-grid;grid-template-columns: auto auto;margin-top: 20px;/* background: #4e934e; *//* border: 0px solid; */width: 100%;}
 
.singleOwnerField {
    /* border-radius: 30px; */
    margin-bottom: 10px;
    border-bottom: 2px solid #9393a1;
    padding: 30px;
}
 
.editContainer {

   
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     border:1px solid #212529;
     padding-bottom:10%;
 }
 .plusMember{
    display:flex;
    align-items:center;
    justify-content:center;
 }
/*might need to change later*/
 button.subtask-btn.btn.btn-primary {
    background: #6060b9;
    margin-bottom: 10px;
    margin-top: 10px;
}
.subtask-div input {
    margin-top: 10px;
}

p.main-goal.title {
    font-size: 20px;
    font-weight: 500;
}

.goal-wrapper {
    padding-top: 20px;
}